.share-this-popover {
  z-index: 2;
  // animation: none;
  filter: none;

  &:before {
    border-top-color: var(--secondaryColor);
    border-bottom-color: var(--secondaryColor);
  }
  
  &>ul {
    border-radius: 0;
    background-color: var(--secondaryColor);
    padding: 0 .5rem;
  }
}