.arrow {
  display: block;
  width: 5rem;
  height: 5rem;
  position: relative;
  color: inherit;
  transition: transform 450ms var(--easeOut);

  &:before {
    content: '';
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    left: 1rem;
    right: 1.6rem;
    background-color: currentColor;
    transition: transform 320ms var(--easeIn), background-color 320ms var(--easeIn);
    transform-origin: 100% 50%;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 0.5rem);
    right: 1rem;
    border-style: solid;
    border-width: 0.5rem 0 0.5rem 0.7rem;
    border-color: transparent transparent transparent currentColor;
    transition: border-color 320ms var(--easeIn);
  }

  @include tablet {
    &:hover {
      transform: translate3d(1rem, 0, 0);

      &:before {
        transform: scale(1.3, 1);
      }
    }
  }
}
