.btn {
  transition: border-color 350ms var(--e), background-color 350ms var(--e), color 350ms var(--e),
    width 350ms var(--e);
  display: inline-block; // @include flex();
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: var(--secondaryColor);
  border: solid 2px currentColor;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  padding: 1.4rem 2.8rem 1.4rem;
  font-size: 1.4rem;

  &:before {
    transition: transform 350ms var(--e), width 350ms var(--e);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondaryColor);
    z-index: 1;
    transform: scale(0, 1);
    transform-origin: 0% 50%;
  }

  @include tablet {
    font-size: 1.8rem;
    width: auto;
    padding: 1.9rem 2.8rem;
    min-height: 6.2rem;
  }

  &__arrow {
    margin-left: 1rem;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    z-index: 2;
    transition: transform 450ms var(--easeOut), width 350ms var(--e), margin 350ms var(--e);
    overflow: hidden;
    pointer-events: none;
  }

  &__text {
    color: currentColor;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: transform 450ms var(--easeOut), width 350ms var(--e);
    pointer-events: none;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 2rem;
    pointer-events: none;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 1.6rem;
      background-color: #fff;
      top: 0;
      left: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &--success {
      &:after {
        top: 0.9rem;
        left: 0.4rem;
        height: 0.6rem;
      }

      &:before {
        top: 0.2rem;
        left: 1.2rem;
      }
    }
  }

  path,
  polygon {
    transition: fill 350ms var(--e);
    fill: currentColor;
  }

  @include tablet {
    &:hover,
    &:focus {
      border-color: var(--secondaryColor);
      color: #fff;

      &:before {
        transform: scale(1, 1);
      }

      .btn {
        &__text {
          transform: translate3d(0.3rem, 0, 0);
        }

        &__arrow {
          transform: translate3d(1rem, 0, 0);

          &:before {
            transform: scale(1.3, 1);
          }
        }
      }
    }
  }

  &__progress {
    display: inline-block;
    height: 2.4rem;
    pointer-events: none;
  }

  &__submit {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: transform 500ms var(--e), opacity 500ms var(--e);
    position: relative;
    z-index: 2;
    pointer-events: none;

    &--exit {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(0);
      opacity: 0;
      z-index: 1;
    }

    &--enter {
      z-index: 2;
    }
  }

  &--white {
    color: #fff;
    &:before {
      background-color: #fff;
    }
    @include tablet {
      &:hover,
      &:focus {
        color: var(--primaryColor);
        border-color: #fff;
      }
    }
  }

  &--stage1,
  &--stage2 {
    @include tablet {
      &:hover,
      &:focus {
        &:before {
          transform: scale(0, 1);
          transform-origin: 100% 50%;
        }
      }
    }
  }

  &--stage3 {
    border-color: #41cb9a;
    color: #fff;

    &:before {
      background-color: #41cb9a;
      transform: scale(1, 1);
    }

    @include tablet {
      &:hover,
      &:focus {
        border-color: #41cb9a;

        .btn {
          &__text {
            transform: none;
          }
        }
      }
    }
  }

  &--stage4 {
    border-color: var(--primaryColor);
    color: #fff;

    &:before {
      background-color: var(--primaryColor);
      transform: scale(1, 1);
    }

    @include tablet {
      &:hover,
      &:focus {
        border-color: var(--primaryColor);

        .btn {
          &__text {
            transform: none;
          }
        }
      }
    }
  }
}
