.container {
  max-width: 100.4rem;
  margin: auto;
  padding-left: 3.7rem;
  padding-right: 3.7rem;

  @include tablet {
    padding-left: 8.5rem;
    padding-right: 8.5rem;
  }

  &--xs {
    max-width: 66.2rem;
  }

  &--s {
    max-width: 83.4rem;
  }

  &--l {
    max-width: 128rem;
  }
}