.form {
  &__row {
    position: relative;
    display: flex; // margin: 1rem 0;
    // padding: 0rem 0;
    padding: 1.5rem 0;

    &--wrap {
      flex-wrap: wrap;
    }
  }

  &__field {
    position: relative;
    width: 100%;
    flex: 1 1 auto;
    background-repeat: no-repeat;
    background-size: 500% 2px;
    background-position: 100% 100%;
    background-image: linear-gradient(to right, currentColor 20%, transparent 20%, transparent 80%, currentColor 80%); // background-image: linear-gradient(to right, currentColor 0%, currentColor 20%, transparent 20%, transparent 80%, currentColor 80%, currentColor 100%);
    transition: background-size 500ms linear, background-position 500ms var(--ease), color 500ms var(--ease);

    &.has-error {
      // color: var(--primaryColor);
      background-image: linear-gradient(to right, var(--primaryColor) 20%, transparent 20%, transparent 80%, var(--primaryColor) 80%);
    }

    &.is-focused {
      background-image: linear-gradient(to right, currentColor 20%, transparent 20%, transparent 80%, currentColor 80%);
      background-position: 0% 100%;
      background-size: 500% 1px;
      z-index: 7;
    }

    &--white {
      background-image: linear-gradient(to right, currentColor 20%, transparent 20%, transparent 80%, currentColor 80%);

      &.has-error {
        background-image: linear-gradient(to right, var(--redDark) 20%, transparent 20%, transparent 80%, var(--redDark) 80%);
      }

      &.is-focused {
        background-image: linear-gradient(to right, currentColor 20%, transparent 20%, transparent 80%, currentColor 80%);
      }
    }

    &--checkbox {
      background-image: none;

      &.has-error,
      &.is-focused {
        background-image: none;
      }
    }

    &--apply {
      @include tablet {
        width: calc(100% - 20rem);
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    outline: 0;
    transition: background-color 1ms linear 999s;
    resize: none;
    color: currentColor;
    font-weight: 600;
    text-align: left;
    padding: 1.3rem 0;
    resize: none;
    letter-spacing: .02em;

    &::-ms-expand {
      display: none;
    }

    &--file {
      cursor: pointer;
      opacity: 0;
    }
  }

  &__placeholder {
    position: absolute;
    color: inherit;
    top: 1.3rem;
    left: 0;
    letter-spacing: .02em;
    pointer-events: none;
    transform-origin: 0 0;
    white-space: nowrap;
    z-index: 2;
    width: 100%;
    transition: transform var(--e) 100ms, color var(--e) 200ms;

    &.has-value {
      transform: translate3d(0, -1.6rem, 0) scale(0.7);
    }

    &.is-focused {
      transform: translate3d(0, -1.6rem, 0) scale(0.7);
    }
  }

  &__control {
    display: block;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    transition: border-color 300ms var(--e), background-color 300ms var(--e), border-width 300ms var(--e);
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    top: 1.5rem;
    border: solid 2px currentColor;
    overflow: hidden;

    &:before {
      transition: opacity 300ms var(--e), transform 300ms var(--easeOutBack);
      content: "";
      position: absolute;
      top: 0.3rem;
      left: 0.3rem;
      width: 0.8rem;
      height: 0.5rem;
      border-bottom: solid 2px currentColor;
      border-left: solid 2px currentColor;
      opacity: 0;
      transform: rotate(-405deg) scale(0.1);
      border-color: #fff;
    }

    &.is-focused {
      border-color: currentColor; // border-width: 1px;
    }

    &.has-value {
      background-color: currentColor;

      &:before {
        transform: rotate(-45deg) scale(1);
        opacity: 1;
      }
    }

    &--white {
      &.has-value {
        &:before {
          border-color: var(--primaryColor);
        }
      }
    }
  }

  &__native {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    z-index: -9;
    overflow: hidden;
    display: block;
  }

  &__inlabel {
    cursor: pointer;
    display: block;
    line-height: 1.29;
    padding-left: 3rem;
    font-size: 1rem;
    padding: 1.9rem 0rem 2.4rem 2.9rem;

    @include tablet {
      font-size: 1.4rem;
      padding: 1.4rem 1rem 2.4rem 2.9rem;
    }
  }

  &__overlay {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    opacity: 0;
    background-color: rgba(242, 242, 242, 1);
    background-size: 100% 100%;

    &--white {
      display: none;
    }
  }

  &__error {
    position: absolute;
    bottom: -2.2rem;
    left: 0;
    color: var(--primaryColor);
    font-size: 1.4rem; // &.is-focused {

    //   opacity: 0;
    // }
    &--white {
      // color: currentColor;
      color: var(--redDark);
    }
  }

  &__icon {
    position: absolute;
    display: block;
    top: 2.1rem;
    right: 2.3rem;
    width: 1.1rem;
    height: 2.2rem;
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: contain;
    background-image: url('../img/icon--clip@2x.png');
  }

  &__filename {
    color: currentColor;
    font-weight: 600;
    text-align: left;
    position: absolute;
    top: 1.9rem;
    left: 0;
  }

  &__submit {
    // margin: 0.2rem 0;
  }

  &__response {
    color: var(--primaryColor);
  }
}