.grid {
  width: 2.2rem;
  height: 2.2rem;
  position: relative;
  transition: transform 220ms var(--e);

  &__tile {
    display: block;
    width: 36%;
    height: 36%;
    position: absolute;
    background-color: currentColor;
    transition: transform 220ms var(--e);

    &--1 {
      left: 7%;
      top: 7%;
    }

    &--2 {
      left: 57%;
      top: 7%;
    }

    &--3 {
      left: 7%;
      top: 57%;
    }

    &--4 {
      left: 57%;
      top: 57%;
    }
  }

  @include tablet {
    &:hover {
      transform: scale(.95) rotate(-90deg);

      .grid {
        &__tile {
          transform: scale(1.1) rotate(90deg);
        }
      }
    }
  }
}