.media {
  position: relative;

  &__image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    // bottom: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    transition: transform 350ms var(--e);
    object-fit: cover;
    object-position: 50% 50%;
  }
}
