.more {
  cursor: pointer;
  margin: auto;
  transition: color 320ms var(--e);
  @include flex();

  &__icon {
    cursor: pointer;
    display: inline-block;
    width: 6rem;
    height: 6rem;
    position: relative;
    border-radius: 50%;
    border: solid 2px currentColor;
    overflow: hidden;
    z-index: 1;

    &:before {
      transition: transform 350ms var(--e);
      // transform: translate3d(0, 100%, 0);
      transform: scale(1, 0);
      transform-origin: 50% 100%;
      content: '';
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      background-color: var(--secondaryColor);
    }
  }

  &__arrow {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    width: 5rem;
    transform: rotate(90deg);
    pointer-events: none;
    transition: transform 450ms var(--easeOutBack);
  }

  &__label {
    font-weight: 600;
    font-size: 1.8rem;
    padding: 1.6rem;
    transition: transform 320ms var(--e);

    @include tablet {
      font-size: 2.4rem;
    }
  }

  @include tablet {
    &:hover {
      .more {
        &__icon {
          &:before {
            transform: scale(1, 1);
          }
        }

        &__arrow {
          color: #fff;
          transform: translate3d(0, -0.4rem, 0) rotate(90deg) scale(1.2, 1);
        }

        &__label {
          transform: translate3d(0, -0.2rem, 0);
        }
      }
    }
  }
}
