.trigger {
  font-weight: 600;
  display: inline-block;
  position: relative;
  color: #fff;

  &:before {
    content: '';
    position: absolute;
    display: block;
    background-color: var(--secondaryColor);
    bottom: 1.5rem;
    left: 6rem;
    right: 5.1rem;
    height: 4rem;
    z-index: -1;
    transition: transform 550ms var(--e);
    transform-origin: 0% 100%;
    transform: translate3d(-6rem, 0, 0) scale(0, 1);
  }

  @include tablet {
    &:hover {
      &:before {
        transform: translate3d(0, 0, 0) scale(1, 1);
      }
    }
  }

  &--red {
    &:before {
      background-color: var(--primaryColor);
    }
  }
}