.app {
  &__top {
    height: 8rem;
    background-color: #fff;
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    @include tablet {
      display: none;
    }
  }

  &__navicon {
    top: 1rem;
    right: 1rem;
    z-index: 7;
    cursor: pointer;
    position: fixed;

    @include tablet {
      top: 3.9rem;
      right: 3.5rem;
    }
  }

  &__logo {
    display: block;
    position: fixed;
    height: 8rem;
    width: 8rem;
    z-index: 5;
    background-color: #fff;
    // font-size: 0;

    @include tablet {
      width: 13.8rem;
      height: 13.8rem;
      z-index: 7;
    }

    svg {
      display: block;
      width: 8rem;
      height: 8rem;

      @include tablet {
        width: 13.8rem;
        height: 13.8rem;
      }
    }
  }

  &__router {
    width: 100%;
    overflow: hidden;
  }

  &__nav {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
    z-index: 3;
  }

  &__page {
    padding-top: 8rem;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    background-color: #fff;

    @include tablet {
      padding-top: 0;
    }

    &--blog {
      padding-top: 15rem;

      @include tablet {
        padding-top: 0;
        // padding-left: 13.8rem;
      }
    }

    &--member {
      padding-top: 15rem;

      @include tablet {
        padding-top: 0;
        padding-left: 13.8rem;
      }
    }
  }

  &__cookiebar {
    position: fixed;
    right: 1.8rem;
    left: 1.8rem;
    bottom: 4.8rem;
    // background-color: #fff;
    background-color: #f1f2f2;
    // line-height: 20 / 14;
    line-height: 1.42;
    z-index: 7;
    padding: 1.5rem 1.8rem 2rem;

    @include tablet {
      padding: 1.5rem 2.2rem 1.5rem;
      left: 1.8rem;
      right: 1.8rem;
      bottom: 4rem;
    }
  }

  &__categories {
    @include tablet {
      display: none;
    }
  }

  &__progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 0.4rem;
    background-color: var(--secondaryColor);
    z-index: 8;
  }

  &__transition {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // opacity: .7;

    &--blue {
      background-color: var(--secondaryColor);
      z-index: 6;
    }

    &--red {
      background-color: var(--primaryColor);
      z-index: 5;
    }
  }

  &__langs {
    z-index: 3;
    will-change: transform;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondaryColor);
    color: #fff;
    display: none;
    top: 5rem;
    right: 19.5rem;

    @include tablet {
      display: block;
      white-space: nowrap;
      position: fixed;
      background-color: transparent;
      left: auto;
      bottom: auto;
      width: 6rem;
      top: 9.9rem;
      right: 3.5rem;
      // top: 5rem;
      // right: 19.5rem;
      z-index: 2;
    }
  }
}
