.categories {
  background-color: var(--secondaryColor);
  color: #fff;
  padding: 2rem 10rem;
  top: 8rem;
  left: 0;
  right: 0;
  height: 7rem;
  overflow: hidden;
  display: flex;
  padding: 0;
  position: absolute;
  z-index: 2;

  @include tablet {
    padding-left: 13.8rem;
    display: flex;
    top: 0;
    height: 10rem;
    position: relative;
  }

  &__container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    right: 6rem;

    @include tablet {
      right: auto;
      position: relative;
      width: 100%;
      padding: 0 4.9rem;
    }
  }

  &__list {
    margin: auto;
    display: flex;
    margin: 0;
    width: 100%;
    position: relative;
    padding: 0;

    .swiper-container {
      overflow: visible;
      width: 100%;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 2;
        pointer-events: none;
        width: 8rem;
      }

      &:before {
        background-image: linear-gradient(
          to right,
          var(--secondaryColor) 0%,
          var(--secondaryColor) 50%,
          transparent 100%
        );
        left: -4.9rem;
      }

      &:after {
        background-image: linear-gradient(
          to right,
          transparent 0%,
          var(--secondaryColor) 50%,
          var(--secondaryColor) 100%
        );
        right: -4.9rem;
        // width: 12rem;
      }
    }

    .swiper-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
    }
  }

  &__item {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 1rem;

    @include tablet {
      padding: 2.8rem 1.1rem 3.4rem;
    }
  }

  &__trigger {
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
    padding: 1rem;

    &:before {
      bottom: 0.9rem;
      left: 1.6rem;
      right: 0.4rem;
      height: 1rem;
      transform: translate3d(-2rem, 0, 0) scale(0, 1);

      @include tablet {
        bottom: 0.8rem;
      }
    }

    &.active {
      &:before {
        transform: translate3d(0, 0, 0) scale(1, 1);
      }
    }
  }

  &__search {
    width: 7rem;
    height: 7rem;
    top: 0rem;
    right: 0;
    position: absolute; // display: none;
    padding: 2.5rem;

    @include tablet {
      padding: 1rem;
      top: auto;
      right: auto;
      width: 6rem;
      height: 6rem;
      bottom: 1.3rem;
      left: 5rem; // display: block;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }

    path {
      fill: currentColor;
    }
  }

  &__next {
    position: absolute;
    // top: -4.7rem;
    top: -6.3rem;
    left: 5rem;
    cursor: pointer;
    z-index: 3;

    @include tablet {
      left: auto;
      right: -4.9rem;
      // top: 3.7rem;
      top: 2.1rem;
    }
  }

  &__prev {
    left: -1rem;
    cursor: pointer;
    position: absolute;
    // top: -4.7rem;
    top: -6.3rem;
    transform: rotate(180deg);
    z-index: 3;

    @include tablet {
      left: -4.8rem;
      // top: 3.7rem;
      top: 2.1rem;
      transform: rotate(180deg);
    }

    @include tablet {
      &:hover {
        transform: translate3d(-1rem, 0, 0) rotate(180deg);
      }
    }
  }
}
