.cookiebar {

  @include tablet {

      display: flex;
      align-items: center;
  }
	&__content {
    @include tablet {
      display: flex;
      align-items: center;
    padding: 0 3rem;
    }
		
	}
	&__icon {
		display: block;
    width: 6.4rem;
    height: 6.3rem;
    margin: 0 auto;
    svg {
      display: block;
    width: 6.4rem;
    height: 6.3rem;
    }
	}
  &__text {
    font-size: 1.4rem;
    line-height: 1.46;
    padding: 1.9rem 0;
    @include tablet {
      font-size: 1.8rem;
    line-height: 1.56;
    padding: 0.8rem 3rem;
    }
  }
  &__accept {
    width: 100%;
    @include tablet {
      width: 40%;
    }
  }
}
