.footer {
  background-color: var(--primaryColor);
  color: #fff;
  position: relative;

  @include tablet {
    padding: 2.2rem 1rem;
  }

  &__content {
    padding: 4rem 1rem 2.7rem;

    @include tablet {
      padding: 0;
    }
  }

  &__contacts {
    padding: 0 7.9rem 0 2.4rem;

    @include tablet {
      display: flex;
      padding: 0 4.7rem;
    }
  }

  &__contact {
    padding: 0.9rem 0rem 0.9rem 3.1rem;
    position: relative;
    display: block;

    @include tablet {
      padding: 1rem 2.6rem;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: #fff;
      top: 1.5rem;
      left: 0.3rem;
      width: 0.8rem;
      height: 0.8rem;

      @include tablet {
        top: 45%;
        width: 0.8rem;
        height: 0.8rem;
      }
    }
  }

  &__copyright {
    padding: 3.7rem 2.7rem 0rem;

    @include tablet {
      padding: 0.4rem 5rem;
    }

    a {
      font-weight: 600;
    }
  }

  &__socials {
    background-color: var(--secondaryColor);
    width: 100%;
    padding: 1.7rem;

    @include tablet {
      width: auto;
      padding: 4.1rem 5rem;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  &--blue {
    background-color: var(--secondaryColor);

    @include tablet {
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }

    .footer {
      &__contacts {
        display: none;
      }

      &__socials {
        display: none;
      }
    }
  }
}

.socials {
  font-size: 0;

  &__list {
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
    align-content: center;
  }

  &__item {
    margin: auto 0;
  }

  &__trigger {
    margin: 1.9rem;
    width: 2.1rem;
    height: 2.4rem;
    color: #fff;
    display: block;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include tablet {
      margin: 1.3rem;
      width: 2.3rem;
    }
  }
}