.header {
  color: #fff;

  @include tablet {
    padding: 0 13.8rem;
    position: relative;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    background-color: var(--primaryColor);

    @include tablet {
      left: 13.8rem;
    }
  }

  &--basic {
    &:before {
      background-color: var(--secondaryColor);
    }
  }

  // &--blog {
  //   @include tablet {
  //     padding-left: 0;
  //   }

  //   &:before {
  //     @include tablet {
  //       left: 0;
  //     }
  //   }
  // }

  &--member {
    @include tablet {
      padding-left: 0;
    }

    &:before {
      @include tablet {
        left: 0;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 1;

    &--basic {
      max-width: 83.4rem;
    }

    &--service {
      max-width: 83.4rem;
    }

    &--blog {
      max-width: 128rem;
    }

    &--member {
      max-width: 128rem;
    }
  }

  &__content {
    position: relative;
    padding: 4rem 0 3.9rem 0;

    @include tablet {
      padding: 6.2rem 20% 7.1rem 0;
    }

    &--basic {
      @include tablet {
        padding-right: 0;
      }
    }

    &--agency {
      padding: 3rem 0 3.1rem;

      @include tablet {
        padding: 6.2rem 20% 7.1rem 0;
      }
    }

    &--member {
      padding: 18rem 0 3.9rem 0;

      @include tablet {
        padding: 6.2rem 20% 7.1rem 18.9rem;
      }
    }
  }

  &__title {
    font-size: 3.2rem;
    position: relative;
    letter-spacing: 0.02em;

    @include tablet {
      font-size: 5.4rem;
    }

    &--basic {
      padding-left: 3rem;

      @include tablet {
        padding-left: 4rem;
      }

      &:before {
        content: '';
        position: absolute;
        background-color: var(--primaryColor);
        top: 1.4rem;
        left: 0;
        width: 1rem;
        height: 1rem;

        @include tablet {
          top: 2.7rem;
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }
  }

  &__lead {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 0.9rem 0;
    letter-spacing: 0.02em;
    line-height: 1.34;

    @include tablet {
      padding: 0.7rem 0;
      letter-spacing: 0.054em;
      line-height: 1.42;
      font-size: 3rem;
    }

    p {
      margin: 0;
    }
  }

  &__intro {
    padding: 0.9rem 0;
    line-height: 1.58;

    @include tablet {
      padding: 2rem 0 0.5rem;
    }

    p {
      margin: 0;
    }

    &--career {
    }

    &--member {
      padding: 0.3rem 0;

      @include tablet {
        padding: 0.4rem 0 0.5rem;
      }
    }
  }

  &__label {
    padding: 1.1rem 0 0;

    @include tablet {
      padding: 0.8rem 0 0;
    }
  }

  &__image {
    position: absolute;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    left: 0rem;
    top: 5rem;
    width: 12rem;
    height: 12rem;

    @include tablet {
      top: 9rem;
      width: 15.4rem;
      height: 15.4rem;
    }
  }

  &__position {
    font-size: 1.8rem;

    @include tablet {
      font-size: 2.2rem;
    }
  }

  &__linkedin {
    display: block;
    padding: 1.1rem 0 0rem;

    svg {
      display: block;
      width: 2.3rem;
    }

    path,
    polygon {
      fill: currentColor;
    }
  }

  &__action {
    margin: 2rem 0;
  }
}
