.intro {
  color: #fff;

  @include tablet {
    padding: 0 13.8rem;
  }

  &__container {
    position: relative;
    z-index: 1;
    padding: 0;
    max-width: none;

    @include tablet {
      min-height: 80rem;
      display: flex;
    }
  }

  &__content {
    padding: 4.1rem 3.7rem 5.3rem;
    background-color: var(--primaryColor);
    position: relative;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 80rem;
      width: 57%;
      padding: 2rem 8.5rem 5rem;

      // &:before {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   left: -50vw;
      //   right: 0;
      //   bottom: 0;
      //   background-color: var(--primaryColor);
      //   z-index: -1;
      // }

    }

  }

  &__meta {
    font-style: italic;
    font-size: 1.4rem;
    padding: 0.8rem 0;

    @include tablet {
      position: relative;
      z-index: 2;
      font-size: 1.8rem;
      padding: 2.6rem 0;
    }
  }

  &__categories {
    padding: 2rem 0;

    @include tablet {
      position: relative;
      z-index: 2;
      padding: 1.7rem 0;
    }

    &--post {}
  }

  &__category {
    display: inline-block;
    font-weight: 600;
    background-color: #fff;
    font-size: 1.2rem;
    padding: 0.3rem 1.5rem;
    border-radius: 3rem;
    margin-right: 1rem;
    color: var(--primaryColor);

    @include tablet {
      font-size: 1.2rem;
      padding: 0.3rem 1.5rem;
      border-radius: 3rem;
      margin-right: 1rem;
    }

    &--post {}
  }

  &__label {
    &--categories {}
  }

  &__title {
    font-size: 3.2rem;

    @include tablet {
      position: relative;
      z-index: 2;
      font-size: 5.4rem;
    }

    &--post {}
  }

  &__aside {}

  &__media {
    display: block;
    z-index: 2;
    height: 32rem;

    @include tablet {
      position: absolute;
      height: auto;
      top: 0;
      left: 57%;
      width: 50vw;
      bottom: 22.9rem;
    }
  }

  &__author {
    background-color: var(--secondaryColor);
    padding: 2rem 3.7rem;
    color: #fff;
    font-size: 1.8rem;
    z-index: 2;

    @include tablet {
      padding: 4rem 5rem;
      font-size: 1.8rem;
      position: absolute;
      left: 57%;
      width: 50vw;
      bottom: 7.7rem;
    }
  }
}