.langs {

	&__list {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;

		@include tablet {
			justify-content: space-between;
		}
	}

	&__item {
		z-index: 1;
		font-size: 1.4rem;
		padding: 2.5rem 3.6rem 2.4rem 1.6rem;

		@include tablet {
			// padding: 0.9rem 3.6rem 0.9rem 1.6rem;
			// padding: 0.9rem .6rem;
			color: var(--secondaryColor);
			padding: 0.9rem 0;
		}

		&:before {
			bottom: 2.5rem;
			left: 2.2rem;
			right: 3rem;
			height: 1rem;
			transform: translate3d(-1rem, 0, 0) scale(0, 1);

			@include tablet {
				bottom: 0.8rem;
				left: 0.5rem;
				right: -0.5rem;
				background-color: #F1F2F2;
			}
		}

		&--active {
			&:before {
				transform: translate3d(0, 0, 0) scale(1, 1);
			}
		}
	}
}