.nav {
  will-change: transform;

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scolling: touch;
    padding: 16rem 0 8rem;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primaryColor);
    z-index: 2;
    transform-origin: 100% 50%;
    will-change: transform;

    @include tablet {
      left: 13.8rem;
      padding: 5rem 13.8rem 5rem 0;
      z-index: 4;
    }
  }

  &__list {
    margin: auto;
    width: 100%;

    @include tablet {
      width: auto;
    }
  }

  &__trigger {
    color: #fff;
    letter-spacing: .02em;
    font-size: 2.6rem;
    padding: 1.1rem 3.7rem;
    padding: .8rem 3.4rem;

    @include tablet {
      font-size: 5.4rem;
      padding: 1vh 7.1rem 1vh 4rem;
    }
  }

  &__blue {
    z-index: 3;
    will-change: transform;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondaryColor);
    color: #fff;

    @include tablet {
      z-index: 2;
      top: 0;
      right: -13.8rem;
    }
  }

  &__langs {
    z-index: 3;
    will-change: transform;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--secondaryColor);
    color: #fff;

    @include tablet {
      display: none;
    }
  }
}