.navicon {
  transition: background-color 300ms var(--e), color 300ms var(--e);
  // color: var(--secondaryColor);
  color: #fff;

  // @include tablet {
  //   color: #fff;
  // }

  &__label {
    font-size: 1.4rem;
    font-weight: 600;
    position: absolute;
    top: 2rem;
    right: 7.2rem;
    transition: transform 500ms var(--e);
    text-transform: uppercase;
  }

  &__lines {
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
    background-color: var(--primaryColor);
  }

  &__line {
    position: absolute;
    top: 2.8rem;
    transition: transform 500ms var(--e), opacity 300ms var(--e);
    right: 1.8rem;
    background-color: currentColor;
    height: 0.4rem;
    width: 2.4rem;

    &--1 {
      transform: translate3d(0, -1rem, 0);
    }

    &--3 {
      transform: translate3d(0, 1rem, 0);
    }

  }

  &.is-open {
    .navicon {
      &__label {
        transform: translate3d(0.5rem, 0, 0);
      }

      &__line {
        &--1 {
          transform: rotate(135deg);
        }

        &--2 {
          transform: scale(0, 1);
        }

        &--3 {
          transform: rotate(225deg);
          // transform: rotate(135deg);
        }
      }

    }
  }

}