.navicon {
  transition: background-color 300ms var(--e) 250ms;
  width: 6rem;
  height: 6rem;

  &__dots {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 550ms var(--e);
  }

  &__dot {
    transition: background-color 300ms var(--e) 250ms;
    position: absolute;
    top: 2.8rem;
    left: 2.8rem;
    height: .4rem;
    width: .4rem;
    border-radius: .2rem;
    display: block;
    background-color: var(--primaryColor);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    &--1 {
      transform: translate3d(-1rem, -1rem, 0);
      transition: width 220ms var(--e), background-color 300ms var(--e) 250ms;
    }

    &--2 {
      transform: translate3d(0, -1rem, 0);
      transition: height 220ms var(--e), transform 220ms var(--e), background-color 300ms var(--e) 250ms;
    }

    &--3 {
      transform: translate3d(1rem, -1rem, 0);
      transition: width 220ms var(--e) 50ms, background-color 300ms var(--e) 250ms;
      left: auto;
      right: 2.8rem;
    }

    &--4 {
      transform: translate3d(-1rem, 0, 0);
      transition: width 220ms var(--e) 100ms, transform 220ms var(--e), background-color 300ms var(--e) 250ms;
    }

    &--5 {
      transition: width 220ms var(--e) 150ms, background-color 300ms var(--e) 250ms;
    }

    &--6 {
      transform: translate3d(1rem, 0, 0);
      transition: width 220ms var(--e) 50ms, background-color 300ms var(--e) 250ms;
      left: auto;
      right: 2.8rem;
    }

    &--7 {
      transform: translate3d(-1rem, 1rem, 0);
      transition: width 220ms var(--e) 150ms, background-color 300ms var(--e) 250ms;
    }

    &--8 {
      transform: translate3d(0, 1rem, 0);
      transition: height 220ms var(--e), transform 220ms var(--e), background-color 300ms var(--e) 250ms;
      top: auto;
      bottom: 2.8rem;
    }

    &--9 {
      transform: translate3d(1rem, 1rem, 0);
      transition: width 220ms var(--e) 50ms, background-color 300ms var(--e) 250ms;
      left: auto;
      right: 2.8rem;
    }
  }

  @include tablet {
    &:hover {
      background-color: var(--primaryColor);

      .navicon {
        &__dot {
          background-color: #fff;

          &--1 {
            width: 1.2rem;
          }

          &--3 {
            width: 1.2rem;
          }

          &--4 {
            width: 1.2rem;
          }

          &--6 {
            width: 1.2rem;
          }

          &--7 {
            width: 1.2rem;
          }

          &--9 {
            width: 1.2rem;
          }
        }
      }
    }
  }

  &.is-open {
    background-color: var(--primaryColor);

    .navicon {
      &__dots {
        transform: rotate(135deg);
      }

      &__dot {
        background-color: #fff;

        &--1 {
          width: 0;
          height: 0;
        }

        &--2 {
          transform: translate3d(0, -1.6rem, 0);
          height: 2.1rem;
        }

        &--3 {
          width: 0;
          height: 0;
        }

        &--4 {
          width: 2.1rem;
          transform: translate3d(-1.6rem, 0, 0);
        }

        &--5 {
          width: 0.4rem;
          height: 0.4rem;
        }

        &--6 {
          width: 2.1rem;
          transform: translate3d(1.6rem, 0, 0);
        }

        &--7 {
          width: 0;
          height: 0;
        }

        &--8 {
          transform: translate3d(0, 1.6rem, 0);
          height: 2.1rem;
        }

        &--9 {
          width: 0;
          height: 0;
        }
      }
    }
  }
}