.page {
  &__header {}

  &__intro {}

  &__career {
    position: relative;
    overflow: hidden;
    background-color: #fff;
  }

  &__listing {
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  &__agency {
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  &__basic {
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  &__position {
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  &__career {
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  &__case {
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  &__stories {
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  &__post {
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  &__agency {
    overflow: hidden;
  }

  &__contact {
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  &__newsletter {}

  &__footer {}

  &__categories {

    // position: relative;
    // top: auto;

  }
}