.totop {

  &__arrow {
    margin-left: 1rem;
    position: absolute;
    top: 2.1rem;
    left: 0.6rem;
    transform: rotate(-90deg);
    @include tablet {
      top: 0;
      left: 0;
      transform: none;
      position: relative;
    margin-left: 1rem;
      
    }
  }

  &__label {
    transition: transform 450ms var(--easeOut);
  }

  @include tablet {
    &:hover {
      .totop {
        &__label {
          transform: translate3d(0.3rem, 0, 0);
        }

        &__arrow {
          transform: translate3d(1rem, 0, 0);

          &:before {
            transform: scale(1.3, 1);
          }
        }
      }
    }
  }
}