.traverse {
  &__nav {
    position: relative;
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    display: block;
    margin: 0;

    @include tablet {
      width: auto;
      height: auto;
    }

    &--prev {
      @include tablet {
        text-align: left;
        padding-left: 8.9rem;
      }
    }

    &--next {
      @include tablet {
        text-align: right;
        padding-right: 8.9rem;
      }
    }
  }

  &__icon {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: solid 2px currentColor;
    top: -0.3rem;
    position: absolute;

    @include tablet {
      top: -0.3rem;
    }

    &--prev {
      transform: rotate(90deg);
      left: 1rem;
    }

    &--next {
      transform: rotate(-90deg);
      right: 1rem;
      text-align: right;
    }
  }

  &__arrow {
    position: absolute;
    top: 1.9rem;
    left: 0.4rem;
    width: 5rem;

    &--prev {
      transform: rotate(180deg);
    }

    &--next {}
  }

  &__title {
    display: none;
    font-weight: 600;

    @include tablet {
      display: block;
    }

    &--prev {}

    &--next {}
  }

  &__label {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }

  &__grid {
    cursor: pointer; // margin-top: 1.5rem;
    position: absolute;
    top: 5rem;
    left: calc(50% - 1.1rem);

    @include tablet {
      top: 8rem;
    }
  }
}