html {
  background-color: #fff;
  color: var(--text);
  font-size: 10px;
}

body {
  font-family: var(--primaryFont);
  margin: 0;
  background-color: inherit;
  color: inherit;
  position: relative;
  font-weight: 400;
  line-height: 1.57;
  letter-spacing: .02em;
  font-size: 1.4rem;

  @include tablet {
    font-size: 1.8rem;
    line-height: 1.56;

  }

  ::-webkit-selection {
    // color: #fff;
    // background-color: var(--primaryColor);
    color: var(--secondaryColor);
    background-color: #f1f2f2;
  }

  :-moz-selection {
    // color: #fff;
    // background-color: var(--primaryColor);
    color: var(--secondaryColor);
    background-color: #f1f2f2;
  }

  ::selection {
    // color: #fff;
    // background-color: var(--primaryColor);
    color: var(--secondaryColor);
    background-color: #f1f2f2;
  }

  ::placeholder {
    color: #000;
    opacity: 1;
    transition: all 350ms var(--e);
  }
}

:focus::placeholder {
  // opacity: .3;
}

a {
  text-decoration: none;

  &[href^='tel'] {
    color: inherit;
  }
}

table {
  max-width: 100%;
}

tr {
  vertical-align: top;
}

td {
  text-align: inherit;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  list-style-type: none;
}

li {
  margin: 0;
}