// @font-face {
//   font-family: 'Passenger Serif';
//   src: url('../fonts/PassengerSerif/PassengerSerif-Extralight.woff') format('woff');
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Passenger Serif';
//   src: url('../fonts/PassengerSerif/PassengerSerif-ExtralightItalic.woff') format('woff');
//   font-weight: 200;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Passenger Serif';
//   src: url('../fonts/PassengerSerif/PassengerSerif-Light.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Passenger Serif';
//   src: url('../fonts/PassengerSerif/PassengerSerif-LightItalic.woff') format('woff');
//   font-weight: 300;
//   font-style: italic;
// }

@font-face {
  font-family: 'Passenger Serif';
  src: url('../fonts/PassengerSerif/PassengerSerif-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Passenger Serif';
  src: url('../fonts/PassengerSerif/PassengerSerif-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

// @font-face {
//   font-family: 'Passenger Serif';
//   src: url('../fonts/PassengerSerif/PassengerSerif-Medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Passenger Serif';
//   src: url('../fonts/PassengerSerif/PassengerSerif-MediumItalic.woff') format('woff');
//   font-weight: 500;
//   font-style: italic;
// }

@font-face {
  font-family: 'Passenger Serif';
  src: url('../fonts/PassengerSerif/PassengerSerif-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Passenger Serif';
  src: url('../fonts/PassengerSerif/PassengerSerif-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

// @font-face {
//   font-family: 'Passenger Serif';
//   src: url('../fonts/PassengerSerif/PassengerSerif-Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Passenger Serif';
//   src: url('../fonts/PassengerSerif/PassengerSerif-BoldItalic.woff') format('woff');
//   font-weight: 700;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Passenger Serif';
//   src: url('../fonts/PassengerSerif/PassengerSerif-Extrabold.woff') format('woff');
//   font-weight: 800;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Passenger Serif';
//   src: url('../fonts/PassengerSerif/PassengerSerif-ExtraboldItalic.woff') format('woff');
//   font-weight: 800;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Faktum';
//   src: url('../fonts/Faktum/Faktum-ThinItalic.woff') format('woff');
//   font-weight: 100;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Faktum';
//   src: url('../fonts/Faktum/Faktum-Thin.woff') format('woff');
//   font-weight: 100;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Faktum';
//   src: url('../fonts/Faktum/Faktum-ExtraLight.woff') format('woff');
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Faktum';
//   src: url('../fonts/Faktum/Faktum-ExtraLightItalic.woff') format('woff');
//   font-weight: 200;
//   font-style: italic;
// }


// @font-face {
//   font-family: 'Faktum';
//   src: url('../fonts/Faktum/Faktum-Light.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Faktum';
//   src: url('../fonts/Faktum/Faktum-LightItalic.woff') format('woff');
//   font-weight: 300;
//   font-style: italic;
// }

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum/Faktum-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum/Faktum-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

// @font-face {
//   font-family: 'Faktum';
//   src: url('../fonts/Faktum/Faktum-MediumItalic.woff') format('woff');
//   font-weight: 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Faktum';
//   src: url('../fonts/Faktum/Faktum-Medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
// }

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum/Faktum-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  src: url('../fonts/Faktum/Faktum-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

// @font-face {
//   font-family: 'Faktum';
//   src: url('../fonts/Faktum/Faktum-Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Faktum';
//   src: url('../fonts/Faktum/Faktum-BoldItalic.woff') format('woff');
//   font-weight: 700;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Faktum';
//   src: url('../fonts/Faktum/Faktum-ExtraBold.woff') format('woff');
//   font-weight: 800;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Faktum';
//   src: url('../fonts/Faktum/Faktum-ExtraBoldItalic.woff') format('woff');
//   font-weight: 800;
//   font-style: italic;
// }