h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primaryFont);
  margin: 0;
  font-weight: 600;
  line-height: 1.31;
  font-size: inherit;
  letter-spacing: .02em;

  @include tablet {
    line-height: 1.19;
  }
}

h1,
h2 {

  line-height: 1.31;

  @include tablet {
    line-height: 1.19;
  }
}

h3 {

  @include tablet {}
}

h4 {

  @include tablet {}
}

p {
  margin: 1.1em 0;

  // @include tablet {
  //   margin: 1.1em 0;
  // }

  img {
    width: 100%;
  }
}