@mixin tablet() {

  @media only screen and (min-width: 769px) {
    @content;
  }
}

@mixin laptop() {
  @media only screen and (min-width: 1279px) {
    @content;
  }
}

@mixin desktop() {
  @media only screen and (min-width: 1441px) {
    @content;
  }
}
