:root {
  --primaryColor: #EA3824;
  --primaryActive: darken(var(--primaryColor), 10%);
  --primaryFont: 'Faktum';
  --secondaryColor: #012664;
  --secondaryActive: darken(var(--secondaryColor), 10%);
  --secondaryFont: 'Passenger Serif';
  --red: #EA3824;
  --redDark: #6F0B00;
  --blue: #647EE8;
  --green: #3BAF28;
  --greyLight: #F1F2F2;
  --grey: #808285;
  --greyDark: #231F20;
  --black: #211D1E;
  --text: #012664;
}