.about {
  &__intro {
    font-weight: 600;
    letter-spacing: .02em;
    font-size: 2.4rem;
    line-height: 1.35;

    @include tablet {
      font-size: 3.2rem;
      line-height: 1.32;
    }

    p {
      margin: 0;
    }
  }

  &__text {
    padding: 0.2rem 0;

    @include tablet {
      padding: 0.7rem 0;
    }
  }
}