.apply {
  &__form {
    position: relative;
  }

  &__lead {
    position: relative;
    font-family: Faktum;
    letter-spacing: 0.02em;
    font-size: 2.4rem;
    line-height: 1.34;
    padding: 0rem 3.5rem;
    padding: 0.3rem 0;
    font-weight: 600;

    @include tablet {
      padding: 0;
      font-size: 3.2rem;
      line-height: 1.34;
    }

    p {
      margin: 0;
    }
  }

  &__text {
    position: relative;
  }

  &__submit {

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    @include tablet {
      padding: .9rem 2.8rem;
      // position: absolute;
      // bottom: 1.6rem;
      // right: 0rem;
    }
  }

}