.author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  color: var(--primaryColor);
  font-size: 1.4rem;
  line-height: 1.29;
  flex-wrap: wrap;

  &__media {
    position: relative;
    width: 4.2rem;
    height: 4.2rem;
    margin-right: 0.8rem;
    border-radius: 50%;
    overflow: hidden;

    @include tablet {
      width: 4.8rem;
      height: 4.8rem;
      margin-right: 1.4rem;
    }

    &--intro {
      width: 7.2rem;
      height: 7.2rem;

      @include tablet {
        width: 7.2rem;
        height: 7.2rem;
      }
    }
  }

  &__info {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &__label {
    color: currentColor;
    padding: 0.3rem;

    @include tablet {
      padding: 0.3rem;
    }
  }

  &__name {
    color: currentColor;
    font-weight: 600;
    position: relative;
    padding: 0.3rem;

    @include tablet {
      padding: 0.3rem;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
  }
}

.listing {
  &__author {
    padding: 2.1rem 0;

    @include tablet {
      padding: 2.1rem 0;
    }
  }
}

.slide {
}
