.bignow {
  &__logo {
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: contain;
    height: 3.4rem;

    @include tablet {
      height: 6.4rem;
    }
  }

  &__intro {
    font-weight: 600;
    padding: 3rem 0 0;
    line-height: 1.35;
    font-size: 2.4rem;

    @include tablet {
      line-height: 1.32;
      font-size: 3.2rem;
      padding: 3.9rem 0 0;
    }

    p {
      margin: 0;
    }
  }

  &__text {
    padding: 0.2rem 0;

    @include tablet {
      padding: 0.7rem 0;
    }
  }

  &__more {}

  &__link {
    display: inline-block;
    font-weight: 600;
    vertical-align: middle;
    padding: 1rem 0;
    font-size: 1.8rem;

    @include tablet {
      padding: 0.8rem 0;
      &:hover {

        .bignow {

          &__arrow {

            transform: translate3d(1rem, 0, 0);

            &:before {
              transform: scale(1.3, 1);
            }
          }
        }
      }
  }
  }

  &__arrow {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 1rem;
  }
}