.bio {
	color: #fff;
	position: relative;

	&__container {
		position: relative;
		max-width: 126rem;
		padding: 0;

		@include tablet {
			padding: 0 24.4rem;
		}
	}

	&__wrapper {
		position: relative;
		background-color: var(--primaryColor);
		padding: 5rem 3.7rem 0.7rem 3.7rem;

		@include tablet {
			padding: 4.6rem 6rem 4.6rem 23.9rem;
			min-height: 25.4rem;
		}

		&:after {
			content: '';
			top: 0;
			left: 100%;
			width: 100vw;
			bottom: 0;
			position: absolute;
			background-color: var(--primaryColor);
		}
	}

	&__media {
		width: 11.8rem;
		height: 11.8rem;
		border-radius: 50%;
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;

		@include tablet {
			position: absolute;
			top: 4rem;
			left: 5.3rem;
			width: 15.4rem;
			height: 15.4rem;
		}

	}

	&__content {
		padding: 1.5rem 0;

		@include tablet {
			padding: 0;
		}
	}

	&__label {
		font-style: italic;
		padding: 0.3rem 0;

		@include tablet {
			padding: 0;
		}
	}

	&__name {
		font-size: 1.8rem;

		@include tablet {
			font-size: 2.4rem;
			padding: 0.2rem 0;
		}
	}

	&__text {
		font-size: 1.4rem;
		line-height: 1.57;
		padding: 1rem 0;

		@include tablet {
			line-height: 1.57;
			padding: 0.5rem 0;
		}

		p {
			margin-top: 0;
		}
	}

	&__socials {
		background-color: var(--secondaryColor);
		width: 100%;
		padding: 1.7rem;

		@include tablet {
			width: auto;
			padding: 4.1rem 5rem;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
}