.book {
  background-color: #f1f2f2;

position: relative;
  &__icon {
    position: absolute;
    top: 5rem;
    left: 0rem;
    width: 4.2rem;
    height: 3.2rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    @include tablet {
    top: 5.6rem;
    left: -4rem;
      
    }
  }

  &__title {
    font-size: 2.6rem;
    @include tablet {
    font-size: 3.8rem;

    }
  }

  &__content {
    position: relative;
    padding: 9.9rem 0rem 3.9rem;
    @include tablet {
    padding: 5.2rem 3.1rem 2.6rem;
      
    }
  }

  &__text {
    padding: 1.4rem 0 1rem 0;
    @include tablet {
    padding: 1.4rem 33% 1rem 0;
      
    }

    p {
      margin-top: 0;
    }
  }

  &__more {
    margin: 1rem 0;
    @include tablet {
      margin: 0;
    position: absolute;
    top: 9.5rem;
    right: -3rem;
      
    }
  }
}