.clients {
  .swiper-container {
    overflow: visible;
    background-color: inherit;
  }

  &__title {
    font-size: 3.2rem;

    @include tablet {
      font-size: 5.4rem;
    }
  }

  &__slider {
    overflow: hidden;
    position: relative;
    margin: -10rem -2.4rem 0;
    padding: 13.4rem 0 3.4rem;

    @include tablet {
      padding: 16.4rem 0 6.4rem;
    }
  }

  &__list {
    // padding: 3.4rem 0;
    display: flex;
    flex-wrap: wrap;
    // position: relative;

    @include tablet {
      // padding: 6.4rem 0;
      // margin: 0 -8.5rem;
    }
  }

  &__item {
    font-size: 0;
    text-align: center;
    height: 8.2rem;
    width: 50%;

    @include tablet {
      width: 25%;
      height: 11.6rem;
    }
  }

  &__logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter 220ms var(--e), opacity 220ms var(--e);

    @include tablet {
      &:hover {
        opacity: 1;
        filter: grayscale(0%);
      }
    }
  }

  &__footer {
    text-align: center;
  }

  &__cases {
    display: inline-block;
    font-weight: 600;
    font-size: 1.8rem;

    @include tablet {
      font-size: 2.4rem;

      &:hover {
        .clients {
          &__arrow {
            transform: translate3d(1rem, 0, 0);

            &:before {
              transform: scale(1.3, 1);
            }
          }
        }
      }
    }
  }

  &__next,
  &__prev {
    top: -3.7rem;

    @include tablet {
      // top: -6.8rem;
      top: -10.7rem;
    }
  }

  &__next {
    position: absolute;
    // top: -2.3rem;
    left: 7.5rem;
    cursor: pointer;

    @include tablet {
      left: auto;
      // top: -9.3rem;
      right: 3rem;
    }
  }

  &__prev {
    left: 1.5rem;
    cursor: pointer;
    position: absolute;
    // top: -2.3rem;
    transform: rotate(180deg);

    @include tablet {
      // top: -9.3rem;
      left: auto;
      right: 15.5rem;
      transform: rotate(180deg);
    }

    @include tablet {
      &:hover {
        transform: translate3d(-1rem, 0, 0) rotate(180deg);
      }
    }
  }

  &__arrow {
    display: inline-block;
    margin: -0.1rem 1rem;
    vertical-align: middle;
  }
}
