.employees {
  &__content {
    position: relative;
    z-index: 2;
    font-weight: 600;
    padding: 1.2rem 3.5rem 4rem;

    @include tablet {
      padding: 8.8rem 8.5rem 10rem;
    }
  }

  &__item {
    padding: 0.8rem 0 0.9rem;

    @include tablet {
      padding: 1.7rem 0;
    }

    &--featured {
      padding: 4rem 0;

      @include tablet {
        padding: 3.5rem 0;
      }
    }
  }

  &__value {
    line-height: 1.46;
    font-size: 2.4rem;

    @include tablet {
      font-size: 3.2rem;
    }

    &--featured {
      line-height: 1.16;
      font-size: 3.2rem;

      @include tablet {
        font-size: 5.4rem;
      }
    }
  }

  &__label {
    &--featured {
      font-size: 2.4rem;

      @include tablet {
        font-size: 3.2rem;
      }
    }
  }
}