.features {
  &__list {
    position: relative;
    z-index: 1;
  }

  &__item {
    padding: 9.6rem 3.7rem 3.7rem;
    position: relative;

    @include tablet {
      padding: 2.2rem 0 2.2rem 8.5rem;
    }
  }

  &__icon {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 4rem;
    left: 3.9rem;

    @include tablet {
      width: 4.8rem;
      height: 4.8rem;
      top: 1.4rem;
      left: 0.9rem;
    }
  }

  &__content {}

  &__title {
    font-weight: 600;
    line-height: 1.42;
    position: relative;
    font-size: 2.7rem;

    @include tablet {
      font-size: 3.8rem;
    }
  }

  &__text {
    padding: 1rem 0;
    line-height: 1.6;

    @include tablet {
      line-height: 1.57;
      padding: 1rem 0;
    }

    p {
      margin: 0;
    }
  }
}