.feedback {
  &__content {
    padding-left: 6.3rem;

    @include tablet {
      padding: 0;
    }
  }

  &__text {
    position: relative;
    font-style: italic;
    font-family: var(--secondaryFont);
    font-size: 2.4rem;
    line-height: 1.36;
    letter-spacing: .02em;
    padding: 1.4rem 0.5rem 1.7rem 0;

    @include tablet {
      line-height: 1.32;
      font-size: 3.2rem;
      margin-right: -8.5rem;
      padding: 4.4rem 0 3.6rem;
    }

    p {
      margin: 0;
    }

    &:before {
      font-family: var(--primaryFont);
      content: '’’';
      line-height: 1;
      font-weight: 600;
      font-size: 9rem;
      position: absolute;
      top: 0.4rem;
      left: -6.6rem;

      @include tablet {
        font-size: 14.4rem;
        top: 2.4rem;
        left: -10.5rem;
      }
    }
  }

  &__name {
    font-weight: 600;
  }

  &__position {}
}