
.geo {
	padding: 0 3.7rem;
	@include tablet {
		padding: 0;
	}
	&__title {
    font-size: 3.2rem;

    @include tablet {
		padding: 0 50% 0 0;
      font-size: 5.4rem;
    }
	}
	&__map {
		padding: 0.1rem 0 9.8rem;
		@include tablet {
		margin-right: -10.6%;
		padding: 0.1rem 0 9.8rem;

		}
	}
	&__image {
		display: block;
		width: 100%;
	}
}