.latest {
	overflow: hidden;

	&__container {
		padding: 3rem 1.9rem 5.2rem 3.7rem;
		position: relative;
		background-color: inherit;

		@include tablet {
			padding: 11.2rem 0 5.2rem;
		}

		.swiper-container {
			overflow: visible;
			background-color: inherit;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 100%;
				width: 100vw;
				background-color: inherit;
				z-index: 2;
			}
		}
	}

	&__title {
		padding: 2rem 0;
		font-size: 2.6rem;

		@include tablet {
			padding: 1rem 0;
			font-size: 3.8rem;
		}
	}

	&__content {
		padding: 5rem 0rem 0rem;
		position: relative;
		background-color: inherit;

		@include tablet {
			padding: 5rem 0rem;
		}

		&:before,
		&:after {
			content: '';
			background-color: inherit;
			z-index: 3;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 6.6%;

			@include tablet {
				top: 5rem;
				bottom: 5rem;
				width: 9.2%;
			}
		}

		&:before {
			right: 50%;
			display: none;

			@include tablet {
				display: block;
			}
		}

		&:after {
			left: 93.3%;

			@include tablet {
				left: auto;
				right: 0;
			}
		}
	}

	&__slide {
		color: #fff; // padding-right: 6.6%;
		padding-right: 8.5%;

		@include tablet {
			padding-right: 9.2%;
		}
	}

	&__next {
		position: absolute;
		top: -4.7rem;
		left: 5rem;
		cursor: pointer;

		@include tablet {
			left: auto;
			top: -9.3rem;
			right: 0;
		}
	}

	&__prev {
		left: -1rem;
		cursor: pointer;
		position: absolute;
		top: -4.7rem;
		transform: rotate(180deg);

		@include tablet {
			top: -9.3rem;
			left: auto;
			right: 12.5rem;
			transform: rotate(180deg);
		}

		@include tablet {
			&:hover {
				transform: translate3d(-1rem, 0, 0) rotate(180deg);
			}
		}
	}
}