.members {
  &__title {
    background-color: var(--greyLight);
    position: relative;
    z-index: 2;
    font-size: 3.2rem;
    padding: 5rem 3.7rem;

    @include tablet {
      background-color: transparent;
      display: inline-block;
      min-width: 41.7rem;
      padding: 6.2rem 0;
      font-size: 5.4rem;
    }

  }

  &__list {
    position: relative;
    z-index: 1;
  }

  &__row {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 5rem 3.7rem;
    background-color: var(--greyLight);
        z-index: 1;

    @include tablet {
      position: relative;
      padding: 7rem 0 6.1rem;
      width: 50%;
    }

    &:before {
      content: '';
      background-color: var(--greyLight);
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      display: none;

      @include tablet {
        display: block;
      }
    }

    &--1 {
      @include tablet {
        padding-right: 11%;

        &:before {
          left: -100vw;
          right: 0;
        }
      }
    }

    &--2 {
      color: #fff;
      background-color: var(--primaryColor);
      z-index: 2;

      @include tablet {
        padding-left: 11%;

        &:before {
          background-color: var(--primaryColor);
          left: 0;
          right: -100vw;
        }
      }
    }

    &--3 {
      color: #fff;
      background-color: var(--secondaryColor);
      z-index: 3;

      @include tablet {
        padding-right: 11%;

        &:before {
          background-color: var(--secondaryColor);
          left: -100vw;
          right: 0;
        }
      }
    }

    &--4 {
      @include tablet {
        padding-left: 11%;

        &:before {
          left: 0;
          right: -100vw;
        }
      }
    }
    &--first {


    &:after {
      content: '';
      background-color: var(--greyLight);
      position: absolute;
      height: 18.8rem;
      bottom: 100%;
      right: 0;
      z-index: 1;
      left: -100vw;
      display: none;

      @include tablet {
        display: block;
      }
    }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__image {
    border-radius: 50%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 11.6rem;
    width: 11.6rem;

    @include tablet {
      height: 15.4rem;
      width: 15.4rem;
    }
  }

  &__name {
    display: inline-block;
    font-weight: 600;
    font-size: 1.8rem;
    margin: 2rem 0 0;

    @include tablet {
      font-size: 2.4rem;
      margin: 2.7rem 0 0;
    }
  }

  &__position {
    padding: .6rem 0;
  }

  &__email {
    display: block;
    font-weight: 600;
    color: var(--primaryColor);
    font-size: 1.4rem;

    &--2 {
      color: #fff;
    }
  }

  &__text {
    line-height: 1.59;
    font-size: 1.4rem;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
  }

  &__action {
    width: 2.2rem;
    display: block;
    margin-right: 2.9rem;

    &--linkedin {}

    &--articles {}

    path,
    polygon {
      fill: currentColor;
    }
  }

  &__footer {
    @include flex();
    background-color: var(--greyLight);
    text-align: center;
    padding: 0.2rem 2rem 3.9rem;
    position: relative;

    @include tablet {
      padding: 2.5rem 2rem 4.6rem;
    &:after {
      content: '';
      background-color: var(--greyLight);
      position: absolute;
      top: 0;
      bottom: 0;
      right: -100vw;
      left: -100vw;

      z-index: -1;
      display: none;

      @include tablet {
        display: block;
      }
    }
    }
  }

  &__more {}
}