.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  background-color: #fff;
  display: flex;
  padding: 6rem 2rem;
  pointer-events: all;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  transform-origin: 50% 0%;

  @include tablet {
    padding: 5rem 24%;
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
  }

  &__dialog {
    width: 100%; // margin: calc(auto + 5rem) auto;
    margin: auto;
    position: relative;
    background-color: #fff;
    z-index: 2;
  }

  &__top {
    font-size: 2.6rem;

    @include tablet {
      font-size: 3.8rem;
    }
  }

  &__content {}

  &__text {
    padding: 1rem 0;
  }

  &__close {
    position: absolute;
    top: 0rem;
    right: 0.4rem;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    transition: transform 350ms var(--e);

    @include tablet {
      top: 3.9rem;
      right: 3.4rem;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 2.8rem;
      left: 1.8rem;
      height: .4rem;
      width: 2.4rem;
      background-color: var(--primaryColor);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    @include tablet {
      &:hover {
        transform: rotate(180deg);
      }
    }
  }
}