.publishers {
  &__content {
    padding: 1.9rem 0;
    @include tablet {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2.5rem 0;

    }
  }

  &__label {
    padding: 1rem 0;
    @include tablet {
    padding: 1rem;
    	
    }
  }

  &__list {
    padding: 1rem 0rem;
    @include tablet {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1rem 0.7rem;
    	
    }

  }

  &__item {
    position: relative;
    padding: 0.8rem 0;
    transition: opacity 320ms var(--e);
    @include tablet {
    padding: 1.6rem;
    	&:hover {
    		opacity: 0.7;
    	}
    }
  }

  &__logo {
    display: block;
    max-height: 2.2rem;
    @include tablet {
    width: 100%;
    object-fit: contain;
    min-width: 9.3rem;
    min-height: 2.2rem;
    max-height: 3.3rem;
    max-width: 22.9rem;
    	
    }
  }

  &__link {
    position: absolute;
    font-size: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}