.services {
  &__title {
    max-width: 64rem;
    font-size: 3.2rem;

    @include tablet {
      font-size: 5.4rem;
    }
  }

  &__list {
    font-weight: 600;
    padding: 1.7rem 0 0;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      padding: 2.6rem 0 0.4rem;
      margin-right: -5.8rem;
    }
  }

  &__item {
    position: relative;
    padding: 1.6rem 1rem 1.7rem 3.3rem;
    cursor: pointer;
    display: block;
    widows: 100%;

    @include tablet {
      width: 33.33%;
      padding: 1.7rem 1rem 1.8rem 2.9rem;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: var(--primaryColor);
      width: 1rem;
      height: 1rem;
      left: 0rem;
      top: 2.1rem;

      @include tablet {
        top: 2.3rem;
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }
}