.share {
	&__item {
		cursor: pointer;
		padding: 0.9rem; // width: 4rem;
		position: relative;
		transition: transform 220ms var(--e), opacity 220ms var(--e);

		@include tablet {
			padding: 0.9rem; // width: 4rem;

			&:hover {
				transform: scale(1.05);
				opacity: .8;
			}
		}

		svg {
			width: 2.4rem;
			height: 2.4rem;

			@include tablet {
				width: 2.4rem;
				height: 2.4rem;

			}
		}

		path,
		polygon,
		cicrle,
		rect {
			fill: currentColor;
		}
	}
}

.SocialMediaShareButton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}