.slide {
	&__media {
		padding-top: 100%;
		display: block;
	}

	&__content {
		background-color: var(--primaryColor);
		padding: 2.9rem 2rem 9.2rem;
		position: relative;

		@include tablet {
			padding: 3.9rem 4rem 9.2rem;
		}
	}

	&__meta {
		font-size: 1.4rem;
		font-style: italic;

		@include tablet {}
	}

	&__title {
		font-size: 2.4rem;
		padding: 1.7rem 0;
		line-height: 1.33;
		font-weight: 600;
		display: block;

		@include tablet {
			font-size: 3.2rem;
			padding: 1.7rem 0;
			line-height: 1.32;
		}
	}

	&__author {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: #fff;
		margin: 0;
		padding: 1.9rem 1.9rem 2.1rem;
		background-color: #fff;
		width: 18.3rem;
		flex-wrap: nowrap;

		@include tablet {
			width: 29rem;
			padding: 2.1rem .9rem 2.1rem 1.9rem;
		}
	}
}