.solutions {
  &__content {
    position: relative;
  }

  &__title {
    font-weight: 600;
    position: relative;
    font-size: 3.2rem;

    @include tablet {
      font-size: 5.4rem;
    }
  }

  &__text {
    padding: 2rem 0 0;
    li {
      position: relative;
      padding: 1.4rem 0 1.5rem 3rem;

      @include tablet {
        padding: 1rem 0 1rem 3.9rem;
        margin-left: 3rem;
      }
    }
  }

  &__bullet {
    content: '';
    position: absolute;
    background-color: var(--green);
    width: 1rem;
    height: 1rem;
    left: 0rem;
    top: 1.9rem;

    @include tablet {
      top: 1.5rem;
      width: 1.4rem;
      height: 1.4rem;
    }

  }
}