.stats {
  &__item {
    padding: 1rem 2rem 1rem 0;

    @include tablet {
      flex-wrap: wrap;
      display: flex;
      width: 50%;
      padding: 2.4rem 2rem 2.8rem 0;
    }
  }

  &__achievement {
    line-height: 1.2;
    display: flex;
    font-size: 8rem;
    white-space: nowrap;

    @include tablet {
      justify-content: flex-end;
      line-height: .9;
      // font-size: 10.2rem;
      font-size: 8rem;
      padding-right: 1.4rem;
      width: 51%;
    }
  }

  &__prefix {}

  &__value {}

  &__suffix {}

  &__label {
    padding-right: 4rem;

    @include tablet {
      display: flex;
      align-items: center;
      padding: 0;
      width: 49%;
    }
  }
}