.subscription {
  &--white {
    color: #fff;
    background-color: var(--primaryColor);
  }

  &__content {
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 600;
    font-size: 2.6rem;

    @include tablet {
      font-size: 3.8rem;
    }
  }

  &__text {
    padding: 0.2rem 0;

    @include tablet {
      padding: 0.1rem 0;
    }

    p {
      // margin: 0;
    }
  }

  &__form {
    position: relative;
  }

  &__submit {
    position: absolute;
    top: 0rem;
    right: 0;
    cursor: pointer;
    height: 6.6rem;
    z-index: 3;

    @include tablet {
      &:hover {
        .newsletter {
          &__arrow {
            transform: translate3d(1rem, 0, 0);

            &:before {
              transform: scale(1.3, 1);
            }
          }
        }
      }
    }
  }

  &__arrow {
    top: 1.2rem;
    right: 0.7rem;
  }

  &__success {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 3rem;
  }
}