.task {
  &__title {
    font-weight: 600;
    position: relative;
    font-size: 3.2rem;

    @include tablet {
      font-size: 5.4rem;
    }
  }

  &__content {
    position: relative;
    padding-top: 1.6rem;

    @include tablet {
      padding-top: 3rem;
    }
  }

  &__text {
    padding-bottom: 1.6rem;

    @include tablet {
      padding-bottom: 3rem;
    }
  }

}