.victories {
  &__title {
    font-weight: 600;
    position: relative;
    font-size: 3.2rem;

    @include tablet {
      font-size: 5.4rem;
    }
  }

  &__content {
    position: relative;
  }

  &__stats {
    color: var(--primaryColor);
    font-weight: 600;
    padding: 0.4rem 0 1.8rem;

    @include tablet {
      margin-right: -15.1rem;
      display: flex;
      flex-wrap: wrap;
      padding: 3.7rem 0 1rem;
    }
  }

  &__source {
    color: var(--primaryColor);
    font-size: 1rem;

    @include tablet {
      font-size: 1.2rem;
    }
  }
}