.agency {
  &__section {
    position: relative;

    &--media {
      z-index: 2;

      @include tablet {
        padding-left: 13.8rem;
      }
    }

    &--features {
      z-index: 3;
    }
  }

  &__container {
    position: relative;
    padding: 0;

    @include tablet {
      padding: 0 8.5rem;
    }

    &--media {
      padding: 0;
    }

    &--features {
      @include tablet {
        padding-right: 17rem;
      }
    }

    &--services {
      background-color: var(--greyLight);

      &:before {
        content: '';
        background-color: var(--greyLight);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        top: -200rem;
        z-index: -1;
        display: none;

        @include tablet {
          display: block;
        }
      }
    }

    &--bignow {
      background-color: var(--blue);

      @include tablet {
        padding-left: 17rem;
      }

      &:before {
        content: '';
        background-color: var(--blue);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        top: 0;
        z-index: -1;
        display: none;

        @include tablet {
          display: block;
        }
      }
    }
  }

  &__media {
    display: block;
    position: relative;
    padding-top: 85.7%;

    @include tablet {
      padding-top: 67.7%;
    }
  }

  &__features {
    background-color: var(--secondaryColor);
    color: #fff;
    position: relative;
    padding: 0.8rem 0 0 0;

    @include tablet {
      margin-top: -28rem;
      padding: 5.6rem 17rem 4.6rem 0;
    }

    &:before {
      background-color: var(--secondaryColor);
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: -30vw;
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &__services {
    position: relative;
    padding: 5.2rem 3.7rem 3.6rem;

    @include tablet {
      padding: 8.2rem 0;
    }
  }

  &__about {
    padding: 4.9rem 3.7rem 4.6rem;

    @include tablet {
      padding: 7.9rem 10.1% 7rem;
    }
  }

  &__members {

    // padding: 1rem 3.7rem;
    @include tablet {
      // padding: 0;
    }
  }

  &__clients {
    padding: 5rem 3.7rem 6.2rem;

    @include tablet {
      padding: 12.1rem 0 11.5rem;
    }
  }

  &__bignow {
    background-color: var(--blue);
    color: #fff;
    padding: 5rem 3.7rem 3.7rem;

    @include tablet {
      padding: 8rem 0 6.9rem;
    }
  }
}