.basic {
  &__sections {
    padding: 3.7rem 0;

    @include tablet {
      padding: 6.7rem 0;

    }
  }

  &__section {
    padding: 0.4rem 0;

    @include tablet {
      padding: 0.5rem 0;

    }
  }

  &__content {
    padding: 1rem 0;
  }

  &__subtitle {
    font-size: 1.8rem;

    @include tablet {
      font-size: 2.4rem;

    }
  }

  &__text {
    padding: 0.4rem 0;
    position: relative;
    width: 100%;
    overflow: scroll;
    line-height: 1.6;

    @include tablet {
      padding: 0.8rem 0;
      line-height: 1.32;
      overflow: visible;
    }

    li {
      position: relative;
      padding: 1rem 0rem 1rem 5.4rem;

      @include tablet {
        padding: 1rem 3rem 1rem 6.9rem;

      }


      &:before {
        content: '';
        position: absolute;
        background-color: var(--primaryColor);
        top: 1.8rem;
        left: 2.2rem;
        width: 1rem;
        height: 1rem;

        @include tablet {
          top: 1.6rem;
          left: 3rem;
          width: 1.4rem;
          height: 1.4rem;

        }
      }
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 1.4rem;
      margin: 3rem 0;
      width: 40rem;

      @include tablet {
        width: 100%;
      }

      thead {
        background-color: var(--primaryColor);
        color: #fff;
        font-weight: 600;
      }

      td {
        padding: 1.6rem 1.8rem;
        line-height: 1.7;
        border: solid 2px var(--primaryColor);
      }
    }

  }

  &__description {
    padding: 0.7rem 0;

    @include tablet {
      padding: 1.4rem 0;

    }

    li {
      position: relative;
      padding: 1rem 0rem 1rem 5.4rem;

      @include tablet {
        padding: 1rem 3rem 1rem 8.5rem;

      }

      &:before {
        content: '';
        position: absolute;
        top: 1.8rem;
        left: 1.7rem;
        width: 1.6rem;
        height: 0.8rem;
        transform: rotate(-45deg);
        border-bottom: solid 2px var(--primaryColor);
        border-left: solid 2px var(--primaryColor);

        @include tablet {
          left: 2.7rem;

        }
      }
    }

    &--blue {
      li {
        &:before {
          border-bottom-color: var(--secondaryColor);
          border-left-color: var(--secondaryColor);
        }
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
  }
}