.career {
  &__container {
    position: relative;

    @include tablet {
      padding-right: 23.9rem;
    }
  }

  &__media {
    display: block;
    position: relative;
    padding-top: 114.1%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0 -3.5rem;

    @include tablet {
      margin: 0;
      padding-top: 88.2%;
      left: -28.6vw;
      width: calc(100% + 28.6vw);
    }
  }

  &__employees {
    color: #fff;
    position: relative;
    margin: 0 -3.5rem;
    background-color: var(--secondaryColor);

    @include tablet {
      margin: 0;
      position: absolute;
      top: 0;
      width: 40vw;
      left: calc(100% - 23.9rem);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: var(--secondaryColor);
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &__positions {
    position: relative;
  }

  &__position {
    position: relative;
    @include tablet {
      &:hover {
        .career {
          &__trigger {
            transform: translate3d(0.3rem, 0, 0);

            &:before {
              transform: translate3d(0.3rem, 0, 0);
            }
          }

          &__arrow {
            transform: translate3d(1rem, 0, 0);

            &:before {
              transform: scale(1.3, 1);
            }
          }
        }
      }
    }
  }

  &__trigger {
    display: block;
    position: relative;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.33; // padding: 0.7rem 0 .7rem 3rem;
    letter-spacing: 0.03em;
    padding: 1.7rem 5rem 2.2rem 3rem;
    transition: transform 450ms var(--easeOut);

    @include tablet {
      letter-spacing: 0.032em;
      padding: 2.9rem 5rem 2.9rem 4.4rem;
      font-size: 3.2rem;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: var(--primaryColor);
      top: 45%;
      left: 0;
      width: 1rem;
      height: 1rem;
      transition: transform 320ms var(--easeOut);

      @include tablet {
        top: 4.3rem;
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }

  &__arrow {
    position: absolute;
    top: 4rem;
    right: -1rem;

    @include tablet {
      right: 2.5rem;
    }
  }

  &__apply {
    position: relative;
    background-color: var(--greyLight);
    padding: 4.6rem 3.5rem;
    margin: 0 -3.5rem;

    @include tablet {
      margin: 0;
      padding: 7.9rem 10.1rem 10.4rem 0;
    }

    &:before {
      content: '';
      background-color: var(--greyLight);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100vw;

      @include tablet {
      }
    }
  }
}
