.case {
  &__section {
    position: relative;

    &--media {
      z-index: 1;
    }

    &--task {
      z-index: 2;
      background-color: var(--green);

      @include tablet {
        background-color: transparent;
      }
    }

    &--solutions {
      background-color: var(--greyLight);

      @include tablet {
        background-color: transparent;
      }
    }

    &--feedback {
      background-color: var(--greyLight);
    }
  }

  &__container {
    position: relative;
    // padding: 0;

    &--media {
      padding-left: 0;
    }

    &--task {
      padding: 0;
      @include tablet {
        padding-left: 13.8rem;
        padding-right: 17rem;
      }
    }

    @include tablet {
      padding-left: 13.8rem;
    }
  }

  &__media {
    padding-top: 88.1%;
    position: relative;
    width: 100vw;
    display: block;

    @include tablet {
      padding-top: 64.6%;
    }
  }

  &__task {
    position: relative;
    color: #fff;
    padding: 4.5rem 3.7rem 1.7rem;
    background-color: var(--green);

    @include tablet {
      margin-top: -12rem;
      padding: 5.3rem 17rem 3rem 0;
    }

    &:before {
      content: '';
      background-color: inherit;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &__solutions {
    position: relative;
    background-color: var(--greyLight);
    padding: 5rem 0 5.8rem 0;

    @include tablet {
      padding: 8.2rem 0 5.8rem 0;
    }

    &:before {
      content: '';
      background-color: var(--greyLight);
      position: absolute;
      top: -80rem;
      left: -8.5rem;
      bottom: 0;
      width: 100vw;
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &__victories {
    position: relative;
    padding: 4.9rem 0 2.5rem;

    @include tablet {
      padding: 10.1rem 0 11.8rem;
    }
  }

  &__feedback {
    padding: 3.5rem 0 5rem;

    @include tablet {
      padding: 3.5rem 0 7.7rem;
    }
  }

  &__traverse {

    position: relative;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    padding: 3.3rem 2.6rem;
    min-height: 11rem;

    @include tablet {
      padding: 6.3rem 4.1rem;
    }

  }
}