.contact {
  position: relative;
  background-color: var(--secondaryColor);

  @include tablet {
    height: calc(100vh - 23.1rem);
  }

  &__container {
    padding: 0;

    @include tablet {
      padding: 0 8.5rem;
      max-width: 123.6rem;
    }
  }

  &__details {
    background-color: var(--secondaryColor);
    color: #fff; // position: relative;

    @include tablet {
      display: flex;
      align-items: center;
      height: calc(100vh - 23.1rem);
    }
  }

  &__content {
    // margin: auto;
    padding: 4.7rem 3.7rem 2.5rem;
  }

  &__company {
    font-weight: 600;
    font-size: 2.6rem;

    @include tablet {
      font-size: 3.8rem;
    }
  }

  &__addresses {
    max-width: 20rem;
    padding: 1.7rem 0;

    @include tablet {
      max-width: 28rem;
    }
  }

  &__address {
    position: relative;
    display: block;
    padding: 0.8rem 3rem 0.9rem;

    @include tablet {
      padding: 0.7rem 3.4rem .8rem;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: var(--primaryColor);
      width: 1rem;
      height: 1rem;
      left: 0rem;
      top: 1.5rem;

      @include tablet {
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }

  &__map {
    height: 40rem;
    width: 100%;
    background-color: var(--greyLight);

    @include tablet {
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      // width: 63.9%;
      width: calc(50% + 18rem);
    }
  }
}