.listing {
  &__section {
    position: relative;
    background-color: #fff;
  }

  &__media {
    display: block;
    padding-top: 100%;

    @include tablet {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
      padding: 0;

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }
    }
  }

  &__content {
    @include tablet {
      position: relative;
      z-index: 2;
    }

    &--left {
      @include tablet {
        padding-right: 50%; // padding-left: 3rem;
      }
    }

    &--right {
      @include tablet {
        padding-left: 50%; // padding-right: 2rem;
      }
    }

    &--blog {
      @include tablet {
        min-height: 57rem;
      }
    }
  }

  &__wrapper {
    padding: 1.3rem 0 4.9rem;
    background-color: #fff;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 64rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    &--left {
      @include tablet {
        padding-right: 11.1rem;
        padding-left: 3rem;
      }
    }

    &--right {
      @include tablet {
        padding-left: 12.1rem;
        padding-right: 2rem;
      }
    }
  }

  &__meta {
    color: var(--grey);
    font-style: italic;
    padding: 1.5rem 0 0.6rem;
    font-size: 1.4rem;

    @include tablet {
      padding: 1.1rem 0;
      font-size: 1.8rem;
    }
  }

  &__categories {
    padding: 2.2rem 0;
  }

  &__category {
    display: inline-block;
    background-color: var(--greyLight);
    border-radius: 3rem;
    padding: 0.3rem 1.5rem;
    color: #808285;
    font-size: 1.2rem;
    margin-right: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: color 180ms var(--e), background-color 180ms var(--e);

    @include tablet {
      &:hover {
        // color: #333;
        color: #fff;
        // background-color: #E6E6E6;
        background-color: #808285;
      }
    }
  }

  &__title {
    font-weight: 600;
    color: var(--primaryColor);
    font-size: 2.6rem;
    position: relative;
    z-index: 2;

    @include tablet {
      font-size: 3.8rem;

      &:hover {
        .line {
          &:before {
            transform: scale(1, 1);
          }
        }
      }
    }

    h2 {
      @include tablet {
        &:hover {
          .line {
            &:before {
            }
          }
        }
      }
    }
  }

  &__footer {
    background-color: var(--greyLight);
    padding: 2.1rem 2rem 3.9rem;

    @include tablet {
      padding: 2.5rem 2rem 4.7rem;
    }
  }

  &__subscription {
    background-color: #f1f2f2;
    padding: 1.9rem 0 1.3rem;

    @include tablet {
      padding: 4.2rem 0;
    }
  }

  &__more {
    max-width: 16rem;
  }

  &__no-results {
    @include flex();
    padding: 2rem;
    min-height: 60vh;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

.line {
  display: inline-block;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2rem;
    left: 1rem;
    width: 100%;
    background-color: #e8e8e8;
    z-index: -1;
    transition: transform 180ms var(--e);
    transform: scale(1, 0);
    transform-origin: 0% 100%;
  }
}
