.newsletter {
  &__subscription {
    display: flex;
    align-content: center;
    min-height: 100vh;

    @include tablet {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding-bottom: 1.3rem;
      left: 13.8rem;
    }
  }
}