.notfound {
  color: #fff;
  background-color: var(--primaryColor);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
  display: flex;
  align-content: center;
  padding-bottom: 9.6rem;
  padding-top: 5.9rem;

  @include tablet {
    padding-top: 0;
    padding-bottom: 8.1rem;
    left: 13.8rem;
    padding-right: 13.8rem;
  }

  &__content {
    width: 100%;
  font-weight: 600;
  }

  &__title {
    font-size: 8.1rem;

    @include tablet {
      font-size: 9.6rem;
    }
  }

  &__text {
    font-size: 2.7rem;
    line-height: 1.32;
    padding: 0.2rem 0;

    @include tablet {
      padding: 0.1rem 0;
      font-size: 3.9rem;
      line-height: 1.26;
    }

    p {
      margin: 0;
    }
  }

  &__back {
    font-size: 1.4rem;
    margin-top: 4.7rem;
    display: inline-block;

    @include tablet {
      font-size: 2.4rem;
      margin-top: 5.6rem;
      &:hover {

        .notfound {
          &__label {
            transform: translate3d(0.3rem, 0, 0);
          }

          &__arrow {

            transform: rotate(180deg) translate3d(2rem, 0, 0);

            &:before {
              transform: scale(1.3, 1);
            }
          }
  }
        }
      }
    }

  &__label {
    display: inline-block;
    transition: transform 450ms var(--easeOut);
  }

  &__arrow {
    vertical-align: middle;
    display: inline-block;
    transform: rotate(180deg) translate3d(1rem, 0, 0);
  }
}