.post {
	position: relative;
	padding: 1rem 0 0;

	@include tablet {
		padding: 5rem 0 0;
	}

	&__container {}

	&__sections {
		position: relative;
	}

	&__content {
		// 	font-size: 1.6rem;
		// @include tablet {
		// 	font-size: 1.6rem;
		// }
	}

	&__intro {}

	&__lead {
		font-weight: 600;
		font-size: 2.4rem;
		padding: 4rem 0 0rem;
		letter-spacing: .02em;
		line-height: 1.32;

		@include tablet {
			font-size: 3.2rem;
			padding: 6.9rem 0 0rem;
		}

		&::first-letter {
			color: var(--primaryColor);
			float: left;
			line-height: 0.8; // display: inline-block;
			vertical-align: top;
			margin-right: 0.6rem;
			font-size: 7.2rem;

			@include tablet {
				line-height: .9; // display: inline-block;
				margin-right: 0.9rem;
				font-size: 9.4rem;
			}
		}

		p {
			margin: 0;
		}
	}

	&__text {
		padding: 1.5rem 0;

		@include tablet {
			padding: 1.7rem 0;
		}
	}

	&__content {
		font-size: 1.4rem;

		@include tablet {
			font-size: 1.8rem;
		}

		p {
			margin: 1.3em 0 1.7em 0;

			@include tablet {
				margin: 1.1em 0 1.5em 0;
			}
		}

		blockquote {
			font-family: var(--secondaryFont);
			font-style: italic;
			font-weight: 600;
			display: block; // max-width: 54.4rem;
			letter-spacing: .02em;
			position: relative;
			line-height: 1.39;
			font-size: 2.6rem;
			margin: 0rem 0 4.6rem;
			padding: 0.1rem 0rem 0rem 6.4rem;

			@include tablet {
				line-height: 1.26;
				font-size: 3.8rem;
				margin: 4.6rem 0;
				padding: 0rem 1rem 0rem 10.5rem;
			}

			&:before {
				font-family: var(--primaryFont);
				content: '’’';
				position: absolute;
				font-weight: 600;
				top: 2.2rem;
				left: -1rem;
				line-height: 1;
				font-size: 9.2rem;
				color: var(--primaryColor);

				@include tablet {
					font-size: 14rem;
					top: -1.8rem;
				}
			}
		}

		ul {
			padding: 1.8rem 0 2.7rem 2rem;

			@include tablet {
				padding: 2rem 0 2.7rem 3rem;
			}
		}

		li {
			position: relative;
			padding: 1.1rem 1rem 1rem 3.3rem;

			@include tablet {
				padding: 1.1rem 1rem 1.2rem 3.3rem;
			}

			&:before {
				content: '';
				position: absolute;
				background-color: var(--primaryColor);
				width: 1rem;
				height: 1rem;
				left: 0.2rem;
				top: 1.6rem;

				@include tablet {
					top: 1.5rem;
					width: 1.4rem;
					height: 1.4rem;
				}
			}
		}

		&--duties {}
	}

	&__sections {
		padding: 0.9rem 0 0;
		position: relative;

		@include tablet {
			padding: 1rem 0 0;
		}
	}

	&__section {
		padding: 0.9rem 0;

		@include tablet {
			padding: 1rem 0;
		}
	}

	&__subtitle {
		font-size: 1.8rem;

		@include tablet {
			font-size: 2.4rem;
		}

		&--duties {}
	}

	&__description {
		&--duties {}
	}

	&__bio {
		margin: 3.2rem 0 0;

		@include tablet {
			margin: 7rem 0 0;
		}
	}

	&__latest {
		background-color: #f1f2f2;
	}

	&__subscription {
		background-color: #f1f2f2;
		padding: 0rem 0 4.7rem;

		@include tablet {
			padding: 0rem 0 4.7rem;
		}
	}

	&__media {
		padding-top: 102%;
		margin: 0.6rem -3.5rem 3.2rem;

		@include tablet {
			padding-top: 54%;
			margin: 1rem 5.3rem 4.2rem;
		}
	}

	&__nav {
		position: absolute;
		cursor: pointer;
		z-index: 2;
		top: 69rem;
		display: none;

		@include tablet {
			display: flex;
		}

		&--prev {
			left: 3%;
			transform: rotate(90deg);
		}

		&--next {
			right: 3%;
			transform: rotate(-90deg);
		}
	}

	&__share {
		top: 33rem;
		left: 4.7rem;
		position: absolute;
		z-index: 2;
		display: none;

		@include tablet {
			display: block;
		}
	}
	&__totop {

  display: flex;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 2.1rem 2.1rem 2.1rem 6.7rem;
  position: relative;
  z-index: 2;
    @include tablet {
  transform-origin: 0% 0%;
  position: absolute;
  bottom: -2rem;
  left: 7.6%;
  transform: rotate(-90deg);
  font-size: 1.4rem;
      
    }
	}
}