.search {
	background-color: var(--secondaryColor);
	color: #fff;
	position: relative;
	padding: 2rem 0;
	min-height: calc(100vh - 8rem);
	// transition: min-height 1ms linear 999s;
	// min-height: 43rem;
	display: flex;
	align-items: center;
	align-content: center;

	@include tablet {
		padding: 10rem 0;
		min-height: 100vh;
	}

	&__container {
		position: relative;
		width: 100%;
		z-index: 2;
	}

	&__form {
		width: 100%;
	}

	&__row {
		position: relative;
	}

	&__suggestions {}

	&__results {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
	}

	&__no-results {
		color: #fff;
		text-align: center;
		padding: 2rem;
		font-weight: 500;

	}

	&__result {
		background-color: #fff;
		color: var(--secondaryColor);
		display: block;
		padding: 0.5rem 2rem;
		width: 100%;
		overflow: hidden;
		text-overflow: elipsis;
	}

	&__flex {

		display: flex;
	}

	&__icon {
		position: absolute;
		right: 1rem;
		top: 1.9rem;
		width: 2.1rem;
		height: 2.1rem;
		cursor: pointer;

		svg {
			width: 100%;
			height: 100%;
			display: block;
		}

		path {
			fill: #fff;
		}
	}

	&__suggestions {
		padding: 4rem 0;
		z-index: 1;
		position: relative;

		@include tablet {
			position: absolute;
			bottom: 0rem;
			left: 0rem;
			right: 0rem;

		}
	}

	&__suggestion {
		transition: color 180ms var(--e), background-color 180ms var(--e);
		display: inline-block;
		vertical-align: top;
		margin-right: 1rem;
		border-radius: 1.2rem;
		font-size: 1.2rem;
		padding: 0.3rem 1.5rem;
		margin-top: 1.5rem;
		font-weight: 600;
		color: #fff;
		margin: 0.5rem 1rem 0.5rem 0;
		cursor: pointer;
		background-color: rgba(255, 255, 255, .3);

		@include tablet {
			&:hover {
				background-color: #fff;
				color: var(--secondaryColor);
			}
		}
	}

	&__label {
		font-size: 1.4rem;
		padding: 0.8rem 0;

		@include tablet {
			padding: 1.3rem 0;

		}
	}
}